.list-group-item {
  line-height: 2.5;
}
.card-header {
  background-color: #d78544;
}
.card {
  background-color: #75afad;
}


body {
  background-color: #f0f0ee;
}
/* .container {
  background-color: #f0f0ee;
} */
