
html,body{
  height: 100%
}

.list-group-item {
  line-height: 2.5;
}
.card-header {
  color: white;
  background-color: #558C89;
}


.card-headertwo {
  background-color:yellowgreen;
}

.card {
  background-color: #75afad;
  
}

.list-group-item {
  background-color: #f0f0ee;
}

body {
  background-color: #f0f0ee;
}
.card-title {
  color: white;
}
.card-text {
  color: white;
}

.list-group-item {
  color:	#808080;
}

.linkSpace {
  margin-right: 7px;
  margin-left: 7px;
}





.container {
  max-height: 150%;
  
  }

