<h1>Add a service</h1>

<input type='text' id='add-service-name' class='add-service-field' placeholder='Service name'/>
<input type='text' id='add-service-duration' class = 'add-service-field' placeholder='Service duration'/>
<input type='text' id='add-service-number' class='add-service-field' placeholder='Max'/>
<button id='add-service-button'>Add service</button>

