<h1>Client Portal</h1>
<p>What would you like to do?</p>
<button id='set-hours'>Set Hours</button>
<button id='add-service'>Add Service</button>
<div id='set-hours-input'></div>
<div id='add-service-input'></div>