{{!-- Client Side. --}}

<form>  
    Service Provided: 
     <input type="text" name="service_provided" id= "service_provided"><br>
     <br>
  Days Provided:
  <input type="text" name="days_provided" id= "days_provided" placeholder="Monday or Tuesday"><br>
  <br>
    Current Price:
  <input type="text" name="current_price" id= "current_price"><br>
  <br>
    Small Bio:
  <input type="text" name="small_bio" id= "small_bio"><br>
  <br>
<button id='submit-data'>Submit</button>

</form>
{{!-- 
service_provided
days_provided VARCHAR(100) NOT NULL,
    current_price DECIMAL(4, 2) ZEROFILL NOT NULL,
    small_bio VARCHAR(100) NOT NULL, --}}
