<h1>Scheduley</h1>
<label>Please Select a Service</label>
<select name='service' id ='service-select'>
    <option></option>
    {{#each services}}
    <option value='{{name}}'>{{name}}</option>
    {{/each}} 
 </select>
<label for='date-input'>Please select a date:</label>
<input type='text' name='date-input' id='date-input' />
<button id='submit-date'>Submit</button>
