    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style-2.css">
<h1>Your services offered</h1>
<hr>
<div id='#client-services'>
    <ul>
        {{#each services}}
        <li><span style='font-weight:bold'>{{this.name}}</span><br>Duration: {{this.duration}}<br>
            {{#if this.Events}}
            Upcoming Scheduled:
            <p>
            {{#each this.Events}}
           <li>{{start}}</li>
            {{/each}}
            {{/if}}
            </p>
            <hr>
        </li>
        {{/each}}
    </ul>
</div>