    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style-2.css">
<h1>Your services offered</h1>
<a href='/addservice'>Add a service</a>
<hr>
<div id='#client-services'>
    <ul>
        {{#each services}}
        <li><h3>{{this.name}}</h3><br>Duration: {{this.duration}} min<br>
            {{#if this.Events}}
            Upcoming Scheduled:
            <p>
            {{#each this.Events}}</p>
           {{start}}
            {{/each}}
            {{/if}}
            <hr>
        </li>
        {{/each}}
    </ul>
</div>